In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import re
import time

#login
driver = webdriver.Chrome('/home/sol/notebooks/web_scraping/chromedriver')
driver.get('https://portalrm.trensurb.gov.br/corpore.net/Login.aspx')#start url
driver.maximize_window()
driver.find_element_by_css_selector('.login-user').send_keys('1-002426')
driver.find_element_by_css_selector('.login-password').send_keys('81837178020')
driver.find_element_by_css_selector('.login-button').click()

#lists
datas = []
codigos = []
trocas = []
chapas =['000226',
'000229',
'000244']

#web scraping
for chapa in chapas:
    driver.get(f'https://portalrm.trensurb.gov.br/Corpore.Net/Main.aspx?AnnexCustomCaption=Alterar%20Hor%C3%A1rio%20e%20Letra&MasterCaptionForAnnex=:%201;{chapa}&ActionID=PtoPFuncActionWeb&MasterActionID=FopEquipeActionWeb&ShowMode=3&AnnexKeyValues=1;{chapa}')
    time.sleep(2)
    dados = driver.find_element_by_xpath('//*[@id="ViewControl_MainGridView"]/tbody/tr[2]').text
    data = dados[6:16]
    cod = dados[:6]
    troca = dados[16:]
    datas.append(data)
    codigos.append(cod)
    trocas.append(troca)

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(list(zip(chapas,datas,codigos,trocas)), columns = ['RE','ULTIMA_TROCA', 'CODIGO', 'TROCA'])

In [4]:
#CREATE DATAFRAME
df

,RE,ULTIMA_TROCA,CODIGO,TROCA
0,000226,17/03/2022,01630,7 G SETRA REVEZ. TARDE (4X2X4) ( 13:15X21:45-...
1,000229,13/03/2022,01622,7 G SETRA REVEZ. MANHÃ (4X2X4) - ACORDO 2011 ...
2,000244,29/01/2022,01630,5 E SETRA REVEZ. TARDE (4X2X4) ( 13:15X21:45-...

In [5]:
datas

['17/03/2022', '13/03/2022', '29/01/2022']

In [6]:
chapas

['000226', '000229', '000244']

In [16]:
#CHANGE THE TIPE FROM STRING TO DATETIME
df['ULTIMA_TROCA'] = pd.to_datetime(df['ULTIMA_TROCA'])

In [17]:
#SORT BY LAST UPDATED
df.sort_values(by=['ULTIMA_TROCA'], ascending=False)

,RE,ULTIMA_TROCA,CODIGO,TROCA
0,000226,2022-03-17,01630,7 G SETRA REVEZ. TARDE (4X2X4) ( 13:15X21:45-...
1,000229,2022-03-13,01622,7 G SETRA REVEZ. MANHÃ (4X2X4) - ACORDO 2011 ...
2,000244,2022-01-29,01630,5 E SETRA REVEZ. TARDE (4X2X4) ( 13:15X21:45-...